<button [ngStyle]="myButtonStyle" (click)="showHideDiv()">Show Hide Div</button>
<br>
<div [ngClass]="myDivStyle" *ngIf="flag">
  {{message}}
  <br>
  <ul>
    <li *ngFor="let vehicle of vehicles" (click)="setSelectedVehicle(vehicle)">
      {{vehicle}}
    </li>
  </ul>
  <br>
  selected Vehicle : {{selectedVehicle}}
  <br>
  <div [ngSwitch]="selectedVehicle">
    <img src="car.jpg" *ngSwitchCase="'Car'" />
    <img src="bike.jpg" *ngSwitchCase="'Bike'" />
    <img src="bus.jpg" *ngSwitchCase="'Bus'" />
    <img src="truck.jpg" *ngSwitchCase="'Truck'" />
    <font color="red" *ngSwitchDefault>Image not available</font>
  </div>  
  <br>
  <br>
</div>

<!--new structural directive syntax-->
<button [ngStyle]="myButtonStyle" (click)="showHideDiv()">
  Show Hide Div
</button>

<br>

@if (flag) {

  <div [ngClass]="myDivStyle">

    {{ message }}

    <br>

    <ul>
      @for (vehicle of vehicles; track vehicle) {
        <li (click)="setSelectedVehicle(vehicle)">
          {{ vehicle }}
        </li>
      }
    </ul>

    <br>

    Selected Vehicle : {{ selectedVehicle }}

    <br>

    @switch (selectedVehicle) {

      @case ('Car') {
        <img src="car.jpg">
      }

      @case ('Bike') {
        <img src="bike.jpg">
      }

      @case ('Bus') {
        <img src="bus.jpg">
      }

      @case ('Truck') {
        <img src="truck.jpg">
      }

      @default {
        <span style="color:red">Image not found</span>
      }

    }

    <br><br>

  </div>

}